.buscador {
   margin: 5px;
}
.buscador input{
   width: 250px;
   border-radius: 4px;
   padding-left: 6px;
}
.box {
   max-width: 1200px;
   border: 1px solid black;
   margin-bottom: 5px;
   margin-left: 10px;
   padding: 5px;
}
.label {
   font-weight: bold;
}
.listado{
   padding-bottom: 15px;
}