<div class="row buscador">
   <div class="col">
      <label> Buscar por Domicilio:
         <input #inputBuscador type="text" (ngModelChange)="buscar($event)" ngModel placeholder="Tipea la direccion a buscar">
      </label>
   </div>
</div>
<div class="listado">
   <div class="box" *ngFor="let item of listadoFiltrado">
      <div class="row">
         <div class="col">
            <h3>{{item.titulo}}</h3>
         </div>
      </div>
      <div class="row">
         <div class="col">
            <span class="label">Direccion: </span>
            <span>{{item.direccion}}</span>
         </div>
      </div>
      <div class="row">
         <div class="col-md-9">
            <span class="texto">{{item.texto}}</span>
         </div>
         <div class="col-md-3">
            <img [src]="item.imagen">
         </div>
      </div>
   </div>
   <span *ngIf="listadoFiltrado.length == 0">No se encontraron resultados...</span>
</div>