<h1>Test Bdin</h1>
<nav>
   <ul routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="listado">Sucursales</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="formulario">Datos Paciente</a></li>
   </ul>
</nav>

<router-outlet></router-outlet>