.datero{
   border: 2px solid gray;
   border-radius: 6px;
   margin: 30px;
   padding-left: 7px;
}
.datero h4{
   top: -15px;
   left: 35px;
   background: lightgray;
   position: relative;
   width: fit-content;
   padding: 0px 15px 5px;
   border-radius: 6px
}