<div class="datero">
   <h4>Datos Personales</h4>
   <div class="row">
      <div class="col-md-4">
         <label>
            Nombre:
            <input type="text" [(ngModel)]="datosPaciente.datosPersonales.nombre" (ngModelChange)="validarFormulario()">
         </label>
      </div>
      <div class="col-md-4">
         <label>
            Apellido:
            <input type="text" [(ngModel)]="datosPaciente.datosPersonales.apellido" (ngModelChange)="validarFormulario()">
         </label>
      </div>
      <div class="col-md-4">
         <label>
            Documento:
            <input type="text" [(ngModel)]="datosPaciente.datosPersonales.documento" (ngModelChange)="validarFormulario()">
         </label>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">
         <label>
            Estado Civil:
            <select [(ngModel)]="datosPaciente.datosPersonales.estadoCivil" (ngModelChange)="validarFormulario()">
               <option *ngFor="let estado of listaEstadoCivil" [value]="estado.value">
                  {{estado.viewValue}}
               </option>
            </select>
         </label>
      </div>
      <div class="col-md-4">
         <label>
            Fecha de Nacimiento:
            <input type="date" [(ngModel)]="datosPaciente.datosPersonales.fechaNacimiento" (ngModelChange)="validarFormulario()">
         </label>
      </div>
   </div>
</div>
<div class="datero">
   <h4>Datos Contacto</h4>
   <div class="row">
      <div class="col-md-12">
         <label>
            Direccion:
            <input type="text" #direccion [(ngModel)]="datosPaciente.datosContacto.direccion" (ngModelChange)="validarFormulario()" style="width: 300px">
         </label>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">
         <label>
            Telefono:
            <input type="text" #telefono [(ngModel)]="datosPaciente.datosContacto.telefono" (ngModelChange)="validarFormulario()">
         </label>
      </div>
      <div class="col-md-4">
         <label>
            Email:
            <input type="email" #email [(ngModel)]="datosPaciente.datosContacto.email" (ngModelChange)="validarFormulario()">
         </label>
      </div>
   </div>
</div>
<button class="btnAceptar" (click)="guardar()" [disabled]="formularioIncompleto">Guardar</button>